[package]
name = "remote-ext"
version = "0.1.0"
edition = "2021"
authors = ["Polka Biome Ltd. <jihoon@tutanota.de>"]
license = "BSD-4-Clause"
homepage = "https://sora.org"
repository = "https://github.com/sora-xor/sora2-network"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "=4.3.17", features = ["derive"] }
jsonrpsee = { version = "0.16.2", features = ["ws-client", "macros"] }
tokio = { version = "1.18.2", features = ["macros", "rt-multi-thread", "sync"] }
anyhow = "1.0.51"
env_logger = "0.10.0"

frame-remote-externalities = { git = "https://github.com/sora-xor/substrate.git", branch = "polkadot-v0.9.38" }

sp-runtime = { git = "https://github.com/sora-xor/substrate.git", branch = "polkadot-v0.9.38" }

framenode-runtime = { path = "../../runtime", default-features = false, features = [
    "std",
] }

liquidity-proxy = { path = "../../pallets/liquidity-proxy" }
common = { path = "../../common" }
