[workspace]
members = [
    "runtime/",
    "common",
    "pallets/assets",
    "pallets/permissions",
    "pallets/trading-pair",
    "pallets/dex-manager",
    "pallets/dex-api",
    "pallets/farming",
    "pallets/faucet",
    "pallets/liquidity-proxy",
    "pallets/mock-liquidity-source",
    "pallets/technical",
    "pallets/pool-xyk",
    "pallets/xor-fee",
    "pallets/referral-system",
    "pallets/bonding-curve-pool",
    "pallets/eth-bridge",
    "node/",
]

[profile.release]
panic = 'unwind'
