[package]
name = "trading-pair-runtime-api"
version = "0.1.0"
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true, features = ["derive"] }
sp-api = { version = "2.0.0", default-features = false }
sp-runtime = { version = "2.0.0", default-features = false }
sp-std = { version = "2.0.0", default-features = false }


[features]
default = ["std"]
std = [
    "codec/std",
    "serde",
    "sp-api/std",
    "sp-runtime/std",
    "sp-std/std",
]
