base58==2.1.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cytoolz==0.12.3
ecdsa==0.19.0
eth-hash==0.7.0
eth-keys==0.5.0
eth-typing==4.1.0
eth-utils==2.3.1
idna==3.7
more-itertools==10.2.0
py-bip39-bindings==0.1.11
py-ed25519-zebra-bindings==1.0.1
py-sr25519-bindings==0.2.0
pycparser==2.22
pycryptodome==3.20.0
PyNaCl==1.5.0
requests==2.31.0
scalecodec==1.2.8
six==1.16.0
substrate-interface==1.7.7
toolz==0.12.1
urllib3==2.2.1
websocket-client==1.7.0
xxhash==3.4.1
